.blogauthor::after {
    content: "Posted by ArcaneCiCi";
  }

.blogtitle::after {
    content: "Moving away from CheatBreaker";
}

.blogcontent::after {
    font-weight: bold;
    content: "After a very long time of being a reskin of CheatBreaker, we had finally made the decision to move away from CheatBreaker, and create our own client! This new client will include Hats, Emotes, Masks, Wings, and many more! We have already gotten very far in development, and will hopefully get further soon, we plan to do public beta testing soon however it is unclear as to when we will do that, but rest assured we will deliver better features and make the experience for our users better in every way. We are also accepting Beta Tester applications! You may find that in the discord.";
}

.versiontext::after {
    content: "Powered by CiCi Games LLC • 2.0.21"
}

.launcher-version::after {
 content: "v2.0.21"
}
