.blogauthor::after {
    content: "Posted by ArcaneCiCi";
  }

.blogtitle::after {
    content: "Updates, and the site is back!";
}

.blogcontent::after {
    font-weight: bold;
    content: "After 3 long months, we finally have brought the Aero Client site back! You may find that at http://aeroclient.tk. We have updated Aero Client 1.7.10 over the past few days, we have removed voice settings and we are looking to add new options to the current mods in Aero Client, that includes new backgrounds for the CPS mods and FPS mods and possibly an option to toggle between the 2017 keystrokes and the current ones, more information on this soon. Be sure to join the discord on the site, we are aware that the current link on the launcher is broken.";
}

.versiontext::after {
    content: "Powered by CiCi Games LLC • 2.0.20"
}

.launcher-version::after {
 content: "v2.0.20"
}
