.changelogtitle::after {
    content: "Client Update [1ae9eef -> 350cb7a]";
}

.changelogauthor::after {
    content: "By Aero Client Development Team";
}

.changelogcontent::after {
    content: "Aero Client 1.7.10 has received one of it's very first mod updates! We have added parentheses around the direction you are facing, soon we are adding different modes for the FPS and CPS mods.";
    top: -10%;
}
