.changelogtitle::after {
    content: "Client Update [Legacy -> Custom]";
}

.changelogauthor::after {
    content: "By Aero Client Development Team";
}

.changelogcontent::after {
    content: "Aero Client Custom 1.7.10's main menu has been halfway completed for the most part, still a few bugs to fix but not too many, ingame GUI has been made, just needs to have a bit of style! If you have suggestions DM Fxmous#8922 on Discord, we are adding lots of suggestions so start submitting!";
    top: -10%;
}
